# frozen_string_literal: true

class <%= class_name %> < Groundwork::StaffTask
  # Add task-specific behavior here.
  #
  # When complete, publish an event to advance the workflow:
  #
  # def complete!(notes: nil)
  #   super
  #   Groundwork::CaseManagement::EventBus.publish(
  #     "<%= case_class_name %>ReviewComplete",
  #     case_id: case_id
  #   )
  # end
end
